{{ form_start(form) }}
<div class="form-group">
   {{ form_label(form.titre) }}
   {{ form_errors(form.titre) }}
   {{ form_widget(form.titre,{'attr':{'class':'form-control'}}) }}
</div>
<div class="form-group">
   {{ form_label(form.imageFile, null, {'label': 'Image'}) }}
   {{ form_errors(form.imageFile) }}
   <div>
       {{ form_widget(form.imageFile) }}
   </div>
</div>
<button type="submit" class="btn btn-primary">Ajouter</button>
{{ form_end(form) }}